--
-- PostgreSQL database dump
--

\restrict 4BpoyyhdYUm84ydaFV9l91u9oYjduQJE4RBXKXuGaGPHVVfn3q2j7JISWmFst0F

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AuditActorType; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."AuditActorType" AS ENUM (
    'USER',
    'SYSTEM'
);


ALTER TYPE public."AuditActorType" OWNER TO metrika;

--
-- Name: DocumentApprovalDecision; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."DocumentApprovalDecision" AS ENUM (
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."DocumentApprovalDecision" OWNER TO metrika;

--
-- Name: DocumentClassification; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."DocumentClassification" AS ENUM (
    'PUBLIC',
    'INTERNAL',
    'CONFIDENTIAL',
    'RESTRICTED'
);


ALTER TYPE public."DocumentClassification" OWNER TO metrika;

--
-- Name: DocumentRetentionPolicy; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."DocumentRetentionPolicy" AS ENUM (
    'DEFAULT',
    'LONG_TERM',
    'LEGAL_HOLD'
);


ALTER TYPE public."DocumentRetentionPolicy" OWNER TO metrika;

--
-- Name: DocumentType; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."DocumentType" AS ENUM (
    'CONTRACT',
    'REPORT',
    'PLAN',
    'REQUIREMENT',
    'RISK',
    'GENERIC',
    'CUSTOM'
);


ALTER TYPE public."DocumentType" OWNER TO metrika;

--
-- Name: DocumentVersionStatus; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."DocumentVersionStatus" AS ENUM (
    'DRAFT',
    'IN_REVIEW',
    'APPROVED',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public."DocumentVersionStatus" OWNER TO metrika;

--
-- Name: ProjectStatus; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."ProjectStatus" AS ENUM (
    'PLANNING',
    'ACTIVE',
    'ON_HOLD',
    'CLOSED',
    'CANCELLED'
);


ALTER TYPE public."ProjectStatus" OWNER TO metrika;

--
-- Name: TaskDependencyType; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."TaskDependencyType" AS ENUM (
    'FS',
    'SF',
    'FF',
    'SS'
);


ALTER TYPE public."TaskDependencyType" OWNER TO metrika;

--
-- Name: TaskPriority; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."TaskPriority" AS ENUM (
    'LOW',
    'NORMAL',
    'HIGH',
    'CRITICAL'
);


ALTER TYPE public."TaskPriority" OWNER TO metrika;

--
-- Name: TaskStatus; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."TaskStatus" AS ENUM (
    'DRAFT',
    'PLANNED',
    'IN_PROGRESS',
    'BLOCKED',
    'ON_HOLD',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."TaskStatus" OWNER TO metrika;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'INVITED'
);


ALTER TYPE public."UserStatus" OWNER TO metrika;

--
-- Name: VirusScanStatus; Type: TYPE; Schema: public; Owner: metrika
--

CREATE TYPE public."VirusScanStatus" AS ENUM (
    'PENDING',
    'CLEAN',
    'INFECTED',
    'BYPASSED'
);


ALTER TYPE public."VirusScanStatus" OWNER TO metrika;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."AuditLog" (
    id uuid NOT NULL,
    "actorType" public."AuditActorType" NOT NULL,
    "actorId" uuid,
    "eventCode" text NOT NULL,
    description text,
    "ipAddress" text,
    "userAgent" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO metrika;

--
-- Name: Document; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."Document" (
    id uuid NOT NULL,
    "projectId" uuid NOT NULL,
    title text NOT NULL,
    "docType" public."DocumentType" NOT NULL,
    classification public."DocumentClassification" NOT NULL,
    "ownerId" uuid NOT NULL,
    "storageKey" text NOT NULL,
    "currentVersionId" uuid,
    tags text[] DEFAULT ARRAY[]::text[],
    "linkedTaskIds" text[] DEFAULT ARRAY[]::text[],
    "linkedKpiIds" text[] DEFAULT ARRAY[]::text[],
    "retentionPolicy" public."DocumentRetentionPolicy" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Document" OWNER TO metrika;

--
-- Name: DocumentApproval; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."DocumentApproval" (
    id uuid NOT NULL,
    "versionId" uuid NOT NULL,
    "approverId" uuid NOT NULL,
    decision public."DocumentApprovalDecision" NOT NULL,
    comment text,
    "decidedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DocumentApproval" OWNER TO metrika;

--
-- Name: DocumentVersion; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."DocumentVersion" (
    id uuid NOT NULL,
    "documentId" uuid NOT NULL,
    "versionNo" text NOT NULL,
    status public."DocumentVersionStatus" DEFAULT 'IN_REVIEW'::public."DocumentVersionStatus" NOT NULL,
    checksum text NOT NULL,
    "sizeBytes" bigint NOT NULL,
    "mimeType" text NOT NULL,
    "storageKey" text NOT NULL,
    "virusScanStatus" public."VirusScanStatus" DEFAULT 'PENDING'::public."VirusScanStatus" NOT NULL,
    "approvalChain" jsonb,
    "createdBy" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DocumentVersion" OWNER TO metrika;

--
-- Name: Permission; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."Permission" (
    id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Permission" OWNER TO metrika;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."Project" (
    id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "sponsorId" uuid NOT NULL,
    "pmoOwnerId" uuid,
    status public."ProjectStatus" DEFAULT 'PLANNING'::public."ProjectStatus" NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "actualStart" timestamp(3) without time zone,
    "actualEnd" timestamp(3) without time zone,
    "budgetPlanned" numeric(14,2),
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Project" OWNER TO metrika;

--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."RefreshToken" (
    id uuid NOT NULL,
    "tokenHash" text NOT NULL,
    "userId" uuid NOT NULL,
    "issuedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "revokedAt" timestamp(3) without time zone,
    "revokedReason" text,
    "replacedByToken" text,
    "ipAddress" text,
    "userAgent" text
);


ALTER TABLE public."RefreshToken" OWNER TO metrika;

--
-- Name: Role; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."Role" (
    id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Role" OWNER TO metrika;

--
-- Name: RolePermission; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."RolePermission" (
    "roleId" uuid NOT NULL,
    "permissionId" uuid NOT NULL,
    "grantedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RolePermission" OWNER TO metrika;

--
-- Name: Task; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."Task" (
    id uuid NOT NULL,
    "projectId" uuid NOT NULL,
    "parentTaskId" uuid,
    title text NOT NULL,
    description text,
    status public."TaskStatus" DEFAULT 'PLANNED'::public."TaskStatus" NOT NULL,
    priority public."TaskPriority" DEFAULT 'NORMAL'::public."TaskPriority" NOT NULL,
    "ownerId" uuid NOT NULL,
    "reporterId" uuid,
    "plannedStart" timestamp(3) without time zone,
    "plannedEnd" timestamp(3) without time zone,
    "actualStart" timestamp(3) without time zone,
    "actualEnd" timestamp(3) without time zone,
    "progressPct" integer DEFAULT 0 NOT NULL,
    "effortPlannedHours" numeric(65,30),
    "effortLoggedHours" numeric(65,30),
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastReminderSentAt" timestamp(3) without time zone
);


ALTER TABLE public."Task" OWNER TO metrika;

--
-- Name: TaskComment; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."TaskComment" (
    id uuid NOT NULL,
    "taskId" uuid NOT NULL,
    "authorId" uuid NOT NULL,
    body text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TaskComment" OWNER TO metrika;

--
-- Name: TaskDependency; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."TaskDependency" (
    id uuid NOT NULL,
    "taskId" uuid NOT NULL,
    "dependsOnTaskId" uuid NOT NULL,
    "lagMinutes" integer,
    type public."TaskDependencyType" DEFAULT 'FS'::public."TaskDependencyType" NOT NULL
);


ALTER TABLE public."TaskDependency" OWNER TO metrika;

--
-- Name: TaskWatcher; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."TaskWatcher" (
    id uuid NOT NULL,
    "taskId" uuid NOT NULL,
    "userId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."TaskWatcher" OWNER TO metrika;

--
-- Name: User; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."User" (
    id uuid NOT NULL,
    email text NOT NULL,
    "fullName" text NOT NULL,
    "passwordHash" text NOT NULL,
    "passwordSetAt" timestamp(3) without time zone,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO metrika;

--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public."UserRole" (
    "userId" uuid NOT NULL,
    "roleId" uuid NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserRole" OWNER TO metrika;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: metrika
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO metrika;

--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."AuditLog" (id, "actorType", "actorId", "eventCode", description, "ipAddress", "userAgent", metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: Document; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."Document" (id, "projectId", title, "docType", classification, "ownerId", "storageKey", "currentVersionId", tags, "linkedTaskIds", "linkedKpiIds", "retentionPolicy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: DocumentApproval; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."DocumentApproval" (id, "versionId", "approverId", decision, comment, "decidedAt") FROM stdin;
\.


--
-- Data for Name: DocumentVersion; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."DocumentVersion" (id, "documentId", "versionNo", status, checksum, "sizeBytes", "mimeType", "storageKey", "virusScanStatus", "approvalChain", "createdBy", "createdAt") FROM stdin;
\.


--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: metrika
--



--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."Project" (id, code, name, description, "sponsorId", "pmoOwnerId", status, "startDate", "endDate", "actualStart", "actualEnd", "budgetPlanned", metadata, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RefreshToken; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."RefreshToken" (id, "tokenHash", "userId", "issuedAt", "expiresAt", "revokedAt", "revokedReason", "replacedByToken", "ipAddress", "userAgent") FROM stdin;
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."Role" (id, code, name, description, "createdAt", "updatedAt") FROM stdin;
019a3a22-7d14-76dd-b3cf-4b97fa5d00a8	PROJECT_MANAGER	Project Manager	\N	2025-10-31 11:58:50.133	2025-10-31 11:59:51.986
019a3a22-7d14-76dd-b3cf-4b9641443437	PMO	Pmo	\N	2025-10-31 11:58:50.133	2025-10-31 11:59:51.986
019a3a22-7d14-76dd-b3cf-4b95850ca1b8	SYSADMIN	Sysadmin	\N	2025-10-31 11:58:50.133	2025-10-31 11:59:51.986
019a3a22-7d14-76dd-b3cf-4b98a651e3f1	TEAM_MEMBER	Team Member	\N	2025-10-31 11:58:50.133	2025-10-31 11:59:51.986
\.


--
-- Data for Name: RolePermission; Type: TABLE DATA; Schema: public; Owner: metrika
--



--
-- Data for Name: Task; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."Task" (id, "projectId", "parentTaskId", title, description, status, priority, "ownerId", "reporterId", "plannedStart", "plannedEnd", "actualStart", "actualEnd", "progressPct", "effortPlannedHours", "effortLoggedHours", metadata, "createdAt", "updatedAt", "lastReminderSentAt") FROM stdin;
\.


--
-- Data for Name: TaskComment; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."TaskComment" (id, "taskId", "authorId", body, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: TaskDependency; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."TaskDependency" (id, "taskId", "dependsOnTaskId", "lagMinutes", type) FROM stdin;
\.


--
-- Data for Name: TaskWatcher; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."TaskWatcher" (id, "taskId", "userId", "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."User" (id, email, "fullName", "passwordHash", "passwordSetAt", status, "lastLoginAt", "createdAt", "updatedAt") FROM stdin;
019a3a22-7dae-7653-a88f-b33bf71527eb	admin@metrika.local	System Administrator	$argon2id$v=19$m=65536,t=3,p=1$0DJueg5AD+J9Zbao1lRR2A$WuYB2QjgjDlW61jc7Z8rmrNkBhGL7LtO/amyutVfBu8	\N	ACTIVE	\N	2025-10-31 11:58:50.288	2025-10-31 11:58:50.288
\.


--
-- Data for Name: UserRole; Type: TABLE DATA; Schema: public; Owner: metrika
--

COPY public."UserRole" ("userId", "roleId", "assignedAt") FROM stdin;
019a3a22-7dae-7653-a88f-b33bf71527eb	019a3a22-7d14-76dd-b3cf-4b95850ca1b8	2025-10-31 11:58:50.291
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: metrika
--



--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: DocumentApproval DocumentApproval_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."DocumentApproval"
    ADD CONSTRAINT "DocumentApproval_pkey" PRIMARY KEY (id);


--
-- Name: DocumentVersion DocumentVersion_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."DocumentVersion"
    ADD CONSTRAINT "DocumentVersion_pkey" PRIMARY KEY (id);


--
-- Name: Document Document_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (id);


--
-- Name: RolePermission RolePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("roleId", "permissionId");


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: TaskComment TaskComment_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskComment"
    ADD CONSTRAINT "TaskComment_pkey" PRIMARY KEY (id);


--
-- Name: TaskDependency TaskDependency_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskDependency"
    ADD CONSTRAINT "TaskDependency_pkey" PRIMARY KEY (id);


--
-- Name: TaskWatcher TaskWatcher_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskWatcher"
    ADD CONSTRAINT "TaskWatcher_pkey" PRIMARY KEY (id);


--
-- Name: Task Task_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_pkey" PRIMARY KEY (id);


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY ("userId", "roleId");


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AuditLog_actorId_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "AuditLog_actorId_idx" ON public."AuditLog" USING btree ("actorId");


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_eventCode_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "AuditLog_eventCode_idx" ON public."AuditLog" USING btree ("eventCode");


--
-- Name: DocumentApproval_versionId_approverId_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "DocumentApproval_versionId_approverId_key" ON public."DocumentApproval" USING btree ("versionId", "approverId");


--
-- Name: Document_currentVersionId_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "Document_currentVersionId_key" ON public."Document" USING btree ("currentVersionId");


--
-- Name: Permission_code_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "Permission_code_key" ON public."Permission" USING btree (code);


--
-- Name: Project_code_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "Project_code_key" ON public."Project" USING btree (code);


--
-- Name: Project_startDate_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "Project_startDate_idx" ON public."Project" USING btree ("startDate");


--
-- Name: Project_status_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "Project_status_idx" ON public."Project" USING btree (status);


--
-- Name: RefreshToken_tokenHash_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "RefreshToken_tokenHash_key" ON public."RefreshToken" USING btree ("tokenHash");


--
-- Name: RefreshToken_userId_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "RefreshToken_userId_idx" ON public."RefreshToken" USING btree ("userId");


--
-- Name: Role_code_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "Role_code_key" ON public."Role" USING btree (code);


--
-- Name: TaskDependency_taskId_dependsOnTaskId_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "TaskDependency_taskId_dependsOnTaskId_key" ON public."TaskDependency" USING btree ("taskId", "dependsOnTaskId");


--
-- Name: TaskWatcher_taskId_userId_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "TaskWatcher_taskId_userId_key" ON public."TaskWatcher" USING btree ("taskId", "userId");


--
-- Name: Task_ownerId_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "Task_ownerId_idx" ON public."Task" USING btree ("ownerId");


--
-- Name: Task_projectId_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "Task_projectId_idx" ON public."Task" USING btree ("projectId");


--
-- Name: Task_status_idx; Type: INDEX; Schema: public; Owner: metrika
--

CREATE INDEX "Task_status_idx" ON public."Task" USING btree (status);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: metrika
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: AuditLog AuditLog_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DocumentApproval DocumentApproval_approverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."DocumentApproval"
    ADD CONSTRAINT "DocumentApproval_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DocumentApproval DocumentApproval_versionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."DocumentApproval"
    ADD CONSTRAINT "DocumentApproval_versionId_fkey" FOREIGN KEY ("versionId") REFERENCES public."DocumentVersion"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DocumentVersion DocumentVersion_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."DocumentVersion"
    ADD CONSTRAINT "DocumentVersion_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DocumentVersion DocumentVersion_documentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."DocumentVersion"
    ADD CONSTRAINT "DocumentVersion_documentId_fkey" FOREIGN KEY ("documentId") REFERENCES public."Document"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Document Document_currentVersionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_currentVersionId_fkey" FOREIGN KEY ("currentVersionId") REFERENCES public."DocumentVersion"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Document Document_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Document Document_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Project Project_pmoOwnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pmoOwnerId_fkey" FOREIGN KEY ("pmoOwnerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Project Project_sponsorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_sponsorId_fkey" FOREIGN KEY ("sponsorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RefreshToken RefreshToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RolePermission RolePermission_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RolePermission RolePermission_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskComment TaskComment_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskComment"
    ADD CONSTRAINT "TaskComment_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskComment TaskComment_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskComment"
    ADD CONSTRAINT "TaskComment_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskDependency TaskDependency_dependsOnTaskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskDependency"
    ADD CONSTRAINT "TaskDependency_dependsOnTaskId_fkey" FOREIGN KEY ("dependsOnTaskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskDependency TaskDependency_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskDependency"
    ADD CONSTRAINT "TaskDependency_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskWatcher TaskWatcher_taskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskWatcher"
    ADD CONSTRAINT "TaskWatcher_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TaskWatcher TaskWatcher_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."TaskWatcher"
    ADD CONSTRAINT "TaskWatcher_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Task Task_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Task Task_parentTaskId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_parentTaskId_fkey" FOREIGN KEY ("parentTaskId") REFERENCES public."Task"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Task Task_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Task Task_reporterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserRole UserRole_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: metrika
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 4BpoyyhdYUm84ydaFV9l91u9oYjduQJE4RBXKXuGaGPHVVfn3q2j7JISWmFst0F

